  
    <footer class="footer" id="foot" style="margin-top:120px;background-color: rgb(75, 75, 75);">
      <br>
  <div class="container">
    <div class="d-flex justify-content-between">
    
          <div>
        <a  style="text-decoration: none; align:center;" target="_blank" href="https://www.instagram.com/drdangs/?hl=en">
          <i class="fab fa-instagram fa-lg mx-2"></i>
        </a>
        <a  style="text-decoration: none;" target="_blank" href="https://www.facebook.com/DrDangsLab/">
          <i class="fab fa-facebook-f fa-lg mx-2"></i>
        </a>
        <a  style="text-decoration: none;" target="_blank" href="https://twitter.com/DangsLab">
          <i class="fab fa-twitter fa-lg mx-2"></i>
        </a>
        
        <a  style="text-decoration: none;" target="_blank" href="https://in.linkedin.com/company/drdangslab">
          <i class="fab fa-linkedin fa-lg mx-2"></i>
          </a>
          
          <a  style="text-decoration: none;" target="_blank" href="https://www.youtube.com/@dr.dangslab4829">
          <i class="fab fa-youtube fa-lg mx-2"></i>
          </a>
      
      </div>
          <a href="/"><img src="https://raw.githubusercontent.com/sanjogdrdang/SAMPLE/main/googlelogo.png" id=
          "logo"  style="position:relative;left:-217px;top:-11px;"  width="60" height="50" class="d-inline-block align-top" alt=""></a>
      <p class="text-muted">
        <a href="https://www.drdangslab.com/TermsAndConditions.aspx"  target="_blank" id ="text" class="text-muted">Terms & Conditions</a>
        <a href="https://www.drdangslab.com/TermsAndConditions.aspx" target="_blank"  id ="text1" class="text-muted">T&C</a>
      </p>

    </div>
  </div>
</footer>


<style>

body{
min-height: 100% !important;
}




.fab {


  font-size: 20px;
  width: 15px;
  border-radius:10px;
  border-left:0.5em solid transparent;
    border-right:0.5em solid transparent;
    text-overflow: ellipsis;


 
  text-align: center !important;
  text-decoration: none;
}

#text{

color: white !important;

}
#logo{
display:none !important;
}






#text1{
display:none;
}



.fa-facebook-f {

  color: white;
}

.fa-twitter {
 
  color: white;
}

.fa-instagram {
 
  color: white;
}

.fa-linkedin {
 
  color: white;
}

.fa-youtube {
 
  color: white;
}

@media only screen and (max-width: 1000px) {

#text1{
color: white !important;
display:block !important;
position: relative;
    right:-20px;
}

#logo{
display:block !important;
}
  

.justify-content-between {
    justify-content: center;
}

.justify-content-between {
    justify-content: center !important;
}

.fab{
    position:relative;
    left:44px;
    }


#text{
display:none !important;
}



}




</style>