{% load static %}
<!-- NAVBAR -->
{% include 'navbar.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- NAVBAR ENDING -->
<style>
  footer{
  margin-top:300px !important;
  }
  
  #alert{
margin-top: -23px;
}

</style>
<body>


        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show"  id="alert" role="alert">
                 {{message}}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      {% endif %}
  <div class="container my-4">
    <br>
    <h1> Hello!</h1>
    <form action="gettingstarted" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputname"  class="form-label">Name</label>
        <input type="text" name="name" required="required" class="form-control" id="exampleInputname" aria-describedby="emailHelp">
      </div>
      <label for="mobileNumber" class="form-label">Mobile Number</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="mobileNumber" name="number" placeholder="Mobile Number" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-dark" type="button" id="button-addon2" onclick="sendText()">Send OTP</button>
      </div>
      <div id="emailHelp" name="number" class="form-text">We'll never share your number with anyone else.
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address. (Optional)</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I don't want to be contacted via email</label>
      </div>
      <br>
      <button class="btn btn-dark" style="height:43px;width:200px" type="submit">Next</button>
      <br>
      <br>
    </form>
    <!-- Modal -->
    <div class="modal" id="otpmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Please enter the OTP sent to your mobile number</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="otpText"  placeholder="Enter OTP" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2" onclick="validateOTP()">Verify</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    let mobileNumber =document.getElementById('mobileNumber');
    let otpText =document.getElementById('otpText');
    var myModal = new bootstrap.Modal(document.getElementById('otpmodel'))
    function sendText() {
    
      var inputText = mobileNumber.value; // Get the text from the input box
      var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value; // Get the Django CSRF token from the hidden input field
      console.log(inputText)
    
      if (inputText.trim()) {
      // Send a POST request to the URL with the input text and CSRF token in the request body
      fetch("send_opt/", {
        method: "POST",
        body: JSON.stringify({ "inputText": inputText }),
        headers: { "X-CSRFToken": csrfToken, "Content-Type": "application/json" }
      }).then(response => {
    
    
    myModal.show()
        // Handle the response from the server
      }).catch(error => {
        // Handle errors
      });
    }
    }
        
    function validateOTP() {
    
      var inputText = mobileNumber.value; // Get the text from the input box
      var otpTextval = otpText.value; // Get the text from the input box
      var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value; // Get the Django CSRF token from the hidden input field
    
      if (inputText.trim() && otpTextval.trim()) {
      // Send a POST request to the URL with the input text and CSRF token in the request body
      fetch("validate_opt/", {
        method: "POST",
        body: JSON.stringify({ "inputText": inputText ,"otpText":otpTextval}),
        headers: { "X-CSRFToken": csrfToken, "Content-Type": "application/json" }
      }).then(response => {
          
            return response.json(); // Parse the response body as JSON data
          
        })
      .then(data => {
        console.log("dskjnfsjn",  data)
        if (data.status_code == 404) {
            alert("Please Try again");
        } else {
          alert("Correct OPT");
        myModal.hide()
        }
          
    });

    }
    }
    
  </script>
  {% include "footer.html" %}
</body>
</html>
