<!doctype html>
<html lang="en">
{% load static %}

<!-- NAVBAR -->
{% include 'navbar.html' %}
<!-- NAVBAR -->
<div class="container">
    <div class="row">
        <div class="col-md-6"  style="width: 1300px;" >
            <div class="progress-outer" id="prog">
                <div class="progress">
                    {% if patient_subgoal == "Respiratory" %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:70%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                  
                    {% elif patient_subgoal == "Skin Allergy" %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:70%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>

                    {% elif patient_subgoal == "Food" %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:70%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                    
                    {% elif patient_subgoal == "Anemia" %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:45%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                    
                    {% elif patient_subgoal == "Bone Pain" %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:75%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                    {% elif patient_healthgoal == "Allergy and Intolerance" %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:70%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                    {% elif patient_subgoal == "Sleep" %}
                      <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:33%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                      {% elif patient_subgoal == "Mood" %}
                      <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:75%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>

                    {% else %}
                    <div class="progress-bar progress-bar-info progress-bar active bg-danger" style="width:100%; box-shadow:-1px 10px 10px rgba(225, 110, 110, 0.7);"></div>
                {% endif %}
                    <div class="progress-value"></div>
                </div>
            </div>
        </div>
    </div>
</div>




    <style>
        h2 {text-align: center;}
        p {text-align: center;}
        .text-center {
      text-align: center;
    }
    
#inv{
  z-index: 10;
    color: white;
    font-size:18px;
                 color:black !important;
    background-color: white !important;
    border-color: black !important;
   box-shadow: 0 0 10px white;
    

}

#inv:hover{

  color:black !important;
  background-color: rgb(251, 211, 217) !important;
  border-color: red !important;
  box-shadow: 0 0 10px red;
}

#inv6{
  z-index: 10;
    color: white;
    font-size:18px;
                 color:black !important;
    background-color: white !important;
    border-color: black !important;
   box-shadow: 0 0 10px white;
    

}

#inv6:hover{

  color:black !important;
  background-color: rgb(251, 211, 217) !important;
  border-color: red !important;
  box-shadow: 0 0 10px red;
}



#inv2{
  z-index: 10;
    color: white;
    font-size:18px;
     box-shadow: 0 0 10px white;
     border-color:black !important;

}

#inv2:hover{

  color:black !important;
  background-color: rgb(251, 211, 217) !important;
  border-color: red !important;
  box-shadow: 0 0 10px red;
}

    .progress-outer{
    
        border-radius: 50px;
        padding: 20px;
        margin: 10px 0;
        
    }
    .progress{
        height: 27px;
        margin: 0;
        overflow: visible;
        border-radius: 50px;
        background: #eaedf3;
        box-shadow: inset 0 10px  10px rgba(250, 244, 244, 0.9);
    }
    .progress .progress-bar{
        border-radius: 50px;
    }
    .progress .progress-value{
        position: relative;
        left: -45px;
        top: 4px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 2px;
    }
    .progress-bar.active{
        animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
    }
    @-webkit-keyframes animate-positive{
        0% { width: 0%; }
    }
    @keyframes animate-positive {
        0% { width: 0%; }
    }
    @media only screen and (max-width: 1000px) {
      
      .row {
        display: flex;
        flex-direction: column-reverse;
        
      }
     
      .box{
        text-align: center;
      }
    
      #img1 {
      display:none !important;
    }
    
    .mobile_device_320px {
            display: none;
        } 
        
              #prog{

    position:relative;
    left:-5px !important;
    top: -20px;
    width:100%;
  
  }

#card{
position:relative;
top:-30px !important;
}

#inv{
width:300px !important;
font-size:18px !important;
height:70px !important;
}

#inv6{
width:300px !important;
font-size:13px !important;
height:100px !important;
}
   
   
 #inv2{
width:120px !important;
font-size:13px !important;
}

        
        }
        
        </style></style>

        <body >
        <form action="specific1" method="POST">
        {% csrf_token %}
        <!-- MAIN GRID STARTING -->
        <div class="container my-4" id="card">
        <div class="row">
        <!-- LEFT GRID STARTING -->
        <div class="col">
            {% if patient_subgoal == "Bone Pain" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="less than 3 months" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">less than 3 months</p></button>
            <br>
            <button type="submit" name="option2" value="3-12 months" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">3-12 months</p></button><br>
            <button type="submit" name="option3" value="1-2 year" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">1-2 year</p></button><br>
            <button type="submit" name="option4" value="more than 2 years" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">more than 2 years</p></button><br>
            
            {% elif patient_subgoal == "Hypertension and Diabetes" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="Yes" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">Yes</p></button>
            <br>
            <button type="submit" name="option2" value="No" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">No</p></button><br>


            {% elif patient_subgoal == "Post Covid" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="Asymptomatic" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv6" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">Asymptomatic</p></button>
            <br>
            <button type="submit" name="option2" value="You had mild illess with COVID 19" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv6" class="btn btn-outline-danger my-1 reducefont"><p style="color:black">You had mild illess with COVID 19</p></button><br>
            <button type="submit" name="option3" value="You had moderate illness with oxygen support but were not hospitalized" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv6" class="btn btn-outline-danger my-1 reducefont"><p style="color:black;font-size:15px;">You had moderate illness with oxygen support but were not hospitalized</p></button>
            <br>
            <button type="submit" name="option4" value="You had a severe illness (hospitalized or needed intensive care)" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv6" class="btn btn-outline-danger my-1 reducefont"><p style="font-size:15px;" >You had a severe illness (hospitalized or needed intensive care)</p></button><br>
            <button type="submit" name="option5" value="You had a severe illness with hospitalization or intensive care requirement and multiple organ involvement" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv6" class="btn btn-outline-danger my-1 reducefont"><p style="font-size:14px;" >You had a severe illness with hospitalization or intensive care requirement and multiple organ involvement</p></button><br>        
            {% elif patient_subgoal == "Sleep" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="Yes" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Yes</p></button>
            <br>
            <button type="submit" name="option2" value="No" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >No</p></button><br>


            {% elif patient_subgoal == "Mood" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="Yes" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Yes</p></button>
            <br>
            <button type="submit" name="option2" value="No" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >No</p></button><br>                



            {% elif patient_subgoal == "Respiratory" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="Grass" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Grass</p></button>
            
            <button type="submit" name="option2" value="House Dust" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >House Dust</p></button><br>
            <button type="submit" name="option3" value="Hay" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Hay </p></button>
            <button type="submit" name="option4" value="Cats" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Cats</p></button><br>
            <button type="submit" name="option5" value="Dogs" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Dogs</p></button>
            <button type="submit" name="option6" value="Moulds" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Moulds</p></button><br>    
            <button type="submit" name="option7" value="Basement or Damp Area" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Basement or Damp Area</p></button>  
            <button type="submit" name="option8" value="Pollution or Smoke" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Pollution or Smoke</p></button><br>  
            <button type="submit" name="option9" value="Weather Changes" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Weather Changes</p></button>
            <button type="submit" name="option10" value="Exercise" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Exercise</p></button><br>  
            <button type="submit" name="option11" value="Any Other" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Any Other</p></button><br>  



            {% elif patient_subgoal == "Skin Allergy" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="egg" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Egg</p></button>
            
            <button type="submit" name="option2" value="milk" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Milk</p></button><br>
            <button type="submit" name="option3" value="dust mites" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Dust Mites </p></button>
            <button type="submit" name="option4" value="wheat" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Wheat</p></button><br>
            <button type="submit" name="option5" value="rice" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont  "><p >Rice</p></button>
            <button type="submit" name="option6" value="soya bean" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Soy Bean</p></button>
            <br>
            <button type="submit" name="option7" value="peanut" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Peanut</p></button>
            <button type="submit" name="option8" value="chicken" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Chicken </p></button><br>
            <button type="submit" name="option9" value="sea food" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Sea Food</p></button>
            <button type="submit" name="option10" value="any other" style="height:60px;width:200px; color:black;  box-shadow:black; font-size:16px;" id="inv2" class="btn btn-light my-1 reducefont"><p >Any Other</p></button><br>



            {% elif patient_subgoal == "Food" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>

            <div class="box">
            <button type="submit" name="option1" value="Yes" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Yes</p></button>
            <button type="submit" name="option2" value="No" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >No</p></button><br>



            {% elif patient_subgoal == "Anemia" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            {% if patient_gender == "Male" %}
            <button type="submit" name="option1" value=">13" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >>13</p></button>
            <br>
            <button type="submit" name="option2" value="11-12.9" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >11-12.9</p></button><br>
            <button type="submit" name="option3" value="8-10.9" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >8-10.9</p></button><br>
            <button type="submit" name="option4" value="less than 8" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >less than 8</p></button><br>
            {% elif patient_gender == "Female" %}
            <button type="submit" name="option1" value=">13" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >>12</p></button>
            <br>
            <button type="submit" name="option2" value="11-12.9" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >11-11.9</p></button><br>
            <button type="submit" name="option3" value="8-10.9" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >8-10.9</p></button><br>
            <button type="submit" name="option4" value="less than 8" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >less than 8</p></button><br>
            {% endif %}

            {% elif patient_healthgoal == "Ensure Well Being" %}
            <div class=" text-center">
            <h2>{{patient_specificquestion1}}</h2>
            <div class="box"><br>
            <button type="submit" name="option1" value="Trouble falling asleep" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Trouble falling asleep</p></button>
            <br>
            <button type="submit" name="option2" value="Snoring" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Snoring</p></button><br>
            <button type="submit" name="option3" value="Day time sleepiness?" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Day time sleepiness</p></button>
            <br>
            <button type="submit" name="option4" value="Restlessness and discomfort in legs before sleep" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont "><p >Restlessness or discomfort in legs before sleep</p></button><br>
            <button type="submit" name="option5" value="Need to urinate 2 or more times at night" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p >Need to urinate 2 or more times at night</p></button><br>
            <button type="submit" name="option6" value="None" style="height:80px;width:320px; color:black;  box-shadow:black;" id="inv" class="btn btn-outline-danger my-1 reducefont"><p>None</p></button><br>



            {% endif %}
                     
  <br>
     
        </div>
        </div>
        <!-- LEFT GRID ENDING -->
        </div>
        <br>
        <div class="col">
        <!-- RIGHT GRID STARTING -->
        <div class="carousel-item active">
            {% if patient_healthgoal == "Specific Conditions" %}
            <img src="https://raw.githubusercontent.com/sanjogdrdang/SAMPLE/main/SpecificConditions.png" id="img1" width=500 height=550 class="d-block w-100" alt="...">
            {% elif patient_healthgoal == "Ensure Well Being" %}
            <img src="{% static 'Overall_Well_Being.png' %}" id="img1" width=500 height=550 class="d-block w-100" alt="...">
            
            {% elif patient_healthgoal == "Allergy and Intolerance" %}
          <img src="{% static 'allergy.png' %}" id="img1" style="position: sticky;" width=500 height=450 class="d-block w-100" alt="...">

          {% elif patient_healthgoal == "Augment Quality of Sleep and Elevate Mood" %}
          <img src="{% static 'sleep_mood.png' %}" id="img1" width=500 height=550 class="d-block w-100" alt="...">

            {% else %}
  
            <img src="https://raw.githubusercontent.com/sanjogdrdang/SAMPLE/main/ciga.png" id="img1" width=500 height=550 class="d-block w-100" alt="...">
            {% endif %}
        </div>
        </div>
        </div>
        <!-- RIGHT GRID ENDING -->
        </div>
        <!-- MAIN GRID ENDING -->
</form>

{% include "footer.html" %}
</body>


    